*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2.text-bold {
    font-weight: bold;
}

.card {
    border: 1px solid #ddd; 
}

.card-img-top {
    height: 150px; 
    object-fit: cover;
}

.card-body {
    padding: 1rem;
}

.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.details-card {
    max-width: 600px;
    margin: auto; 
}
